<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-signin-client_id"
      content="61384633864-luj2mcnugnakt55v9u8c8p8f7l96u6j3.apps.googleusercontent.com">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="./style.css">
    <title>Document</title>
  </head>

  <body>
    <div id="app">
      <div v-if="pageName == 'landingPage'">
        <div class="container-flex">
          <div class="logo">
            <img :src="imgUrl" alt="kanban logo" style="margin: 8em;">
          </div>
          <!-- LOGIN -->
          <div v-if="login" class="menu">
            <div class="shadow-lg bg-white rounded p-4" style="width: 30em;">
              <h1 class="text-center">WELCOME TO KANBAN APP</h1>
              <h2 class="text-center">Login</h2>
              <form v-on:submit.prevent="logingIn()">
                <div class="form-group">
                  <label for="login-email">Email</label>
                  <input v-model="email" type=" email" id="login-email" class="form-control">
                </div>
                <div class="form-group">
                  <label for="login-password">Password</label>
                  <input v-model="password" type="password" id="login-password" class="form-control">
                </div>
                <div class="form-group text-center">
                  <button type="submit" class="btn btn-primary text-center">Login</button>
                </div>
              </form>
              <div class="g-signin2" data-onsuccess="onSignIn"></div>
              <p class="mt-3">Don't have an account?
                <span v-on:click="isLogin()" type="button" class="text-primary">Register</span>
              </p>
            </div>
          </div>
          <!-- END OF LOGIN -->

          <!-- REGISTER -->
          <div v-else class="menu">
            <div class="shadow-lg bg-white rounded p-4" style="width: 30em;">
              <h1 class="text-center">WELCOME TO KANBAN APP</h1>
              <h2 class="text-center">Register</h2>
              <form>
                <div class="form-group">
                  <label for="register-email">Email</label>
                  <input v-model="email" type=" email" id="register-email" class="form-control">
                </div>
                <div class="form-group">
                  <label for="register-password">Password</label>
                  <input v-model="password" type="password" id="register-password" class="form-control">
                </div>
                <div class="form-group text-center">
                  <button v-on:click.prevent="register()" type="submit"
                    class="btn btn-primary text-center">Login</button>
                </div>
              </form>
              <p class="mt-3">Already Have Account?
                <span v-on:click="isLogin()" type="button" class="text-primary">Login</span>
              </p>
            </div>
          </div>
          <!-- END OF REGISTER -->
        </div>
      </div>

      <!-- CONTENT -->
      <div v-else-if="pageName == 'content'">
        <div>
          <div class="container-fluid d-flex justify-content-between p-3">
            <h3>KANBAN</h3>
            <div>
              <button v-on:click="addPage()" class="btn btn-primary">Add Task</button>
              <button v-on:click="logout()" class="btn btn-danger">Sign out</button>
            </div>
          </div>
          <div class="container-fluid">
            <div class="row">
              <div class="col mt-3">
                <h5 class="text-center text-white p-2 rounded bg-secondary">Backlog</h5>
                <div class="bg-light pl-2 pr-2 pt-2 shadow card rounded" style="height: 75vh; overflow: scroll;">
                  <div>
                    <div type="button" class="card bg-white mb-2 shadow rounded p-2">
                      <div class="btn-group btn-task-menu">
                        <button data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                          class="btn btn-light btn-sm p-0 border border-secoondary">menu</button>
                        <div class="dropdown-menu dropdown-menu-right">
                          <button data-toggle="modal" data-target="#modalTask" class="dropdown-item"> Edit </button>
                          <button class="dropdown-item">Delete</button>
                        </div>
                      </div>
                      <div>
                        <b class="mr-1">tes</b>
                      </div>
                      <div> tes <br>
                        <small>tes@tes.com</small>
                      </div>
                      <div>
                        <small class="mr-2">tanggal</small>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col mt-3">
                <h5 class="text-center text-white p-2 rounded bg-primary">Todo</h5>
                <div class="bg-light pl-2 pr-2 pt-2 shadow card rounded" style="height: 75vh; overflow: scroll;">
                  <div>
                    <div type="button" class="card bg-white mb-2 shadow rounded p-2">
                      <div class="btn-group btn-task-menu">
                        <button data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                          class="btn btn-light btn-sm p-0 border border-primary">menu</button>
                        <div class="dropdown-menu dropdown-menu-right">
                          <button data-toggle="modal" data-target="#modalTask" class="dropdown-item"> Edit </button>
                          <button class="dropdown-item">Delete</button>
                        </div>
                      </div>
                      <div>
                        <b class="mr-1">tes</b>
                      </div>
                      <div> tes <br>
                        <small>tes@tes.com</small>
                      </div>
                      <div>
                        <small class="mr-2">tanggal</small>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col mt-3">
                <h5 class="text-center text-white p-2 rounded bg-warning">Doing</h5>
                <div class="bg-light pl-2 pr-2 pt-2 shadow card rounded" style="height: 75vh; overflow: scroll;">
                  <div>
                    <div type="button" class="card bg-white mb-2 shadow rounded p-2">
                      <div class="btn-group btn-task-menu">
                        <button data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                          class="btn btn-light btn-sm p-0 border border-warning">menu</button>
                        <div class="dropdown-menu dropdown-menu-right">
                          <button data-toggle="modal" data-target="#modalTask" class="dropdown-item"> Edit </button>
                          <button class="dropdown-item">Delete</button>
                        </div>
                      </div>
                      <div>
                        <b class="mr-1">tes</b>
                      </div>
                      <div> tes <br>
                        <small>tes@tes.com</small>
                      </div>
                      <div>
                        <small class="mr-2">tanggal</small>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col mt-3">
                <h5 class="text-center text-white p-2 rounded bg-success">Done</h5>
                <div class="bg-light pl-2 pr-2 pt-2 shadow card rounded" style="height: 75vh; overflow: scroll;">
                  <div>
                    <div type="button" class="card bg-white mb-2 shadow rounded p-2">
                      <div class="btn-group btn-task-menu">
                        <button data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                          class="btn btn-light btn-sm p-0 border border-success">menu</button>
                        <div class="dropdown-menu dropdown-menu-right">
                          <button data-toggle="modal" data-target="#modalTask" class="dropdown-item"> Edit </button>
                          <button class="dropdown-item">Delete</button>
                        </div>
                      </div>
                      <div>
                        <b class="mr-1">tes</b>
                      </div>
                      <div> tes <br>
                        <small>tes@tes.com</small>
                      </div>
                      <div>
                        <small class="mr-2">tanggal</small>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- END OF CONTENT -->

      <!-- ADD CONTENT -->
      <div v-else-if="pageName == 'add'">
        <div class="container">
          <div class="shadow-lg bg-white rounded p-4">
            <h2 class="text-center">Add Task</h2>
            <form v-on:submit.prevent="addTask()">
              <div class="form-group">
                <label for="add-title">Title</label>
                <input v-model="email" type=" text" id="add-title" class="form-control">
              </div>
              <div class="form-group">
                <label for="add-password">Description</label>
                <input v-model="password" type="text" id="add-description" class="form-control">
              </div>
              <div class="form-group">
                <label for="add-category">Category</label>
                <select v-model="tag" id="add-category" class="form-control">
                  <option selected value="">Choose Category</option>
                  <option value="Backlog">Backlog</option>
                  <option value="Todo">Todo</option>
                  <option value="Doing">Doing</option>
                  <option value="Done">Done</option>
                </select>
              </div>
              <div class="form-group text-center">
                <button type="submit" class="btn btn-primary text-center">Add</button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <!-- END OF ADD CONTENT -->

      <div v-else>
        <h1>PAGE NOT FOUND</h1>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
      crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"></script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="index.js"></script>
  </body>

</html>