* {
    margin: 0;
    padding: 0;
}

nav .link ul{
    list-style: none;
}

nav .link li{
    display: inline;
}

nav {
    background-color:teal;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    position: sticky;
}

nav .link {
    display: flex;
    align-items: center;
}

nav .link a {
    text-decoration: none;
    font-size: 20px;
    margin-left: 15px;
    color: white;
    padding: 12px 24px;
    border-radius: 6px;
    transition: transform 0.25s ease, box-shadow 0.25s ease, background-color 0.25s ease;
    }


nav .link a:hover {
    color: teal;
    transform: translate3d(0px,-1px,0px);
    background-color: hsl(222, 100%, 92%);
    box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
}

