<!doctype html>
<html class="" lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <meta name="description" content="Kanban App">

  <title>:: Kanban App ::</title>
  <!-- Favicon-->
  <!-- <link rel="icon" href="favicon.ico" type="image/x-icon"> -->
  <!-- Custom Css -->
  <link rel="stylesheet" type="text/css" href="../assest/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="../assest/css/style.min.css">
  <style>

  </style>
</head>

<body class="theme-blush">
  <!-- Page Loader -->
  <!-- <div class="page-loader-wrapper">
    <div class="loader">
      <div class="m-t-30"><img class="zmdi-hc-spin" src="assest/images/loader.svg" width="48" height="48" alt="Aero">
      </div>
      <p>Please wait...</p>
    </div>
  </div> -->

  <!-- Overlay For Sidebars -->
  <!-- <div class="overlay"></div> -->

  <section class="content">
    <div class="body_scroll horizontal-scrollable">
      <div class="block-header">
        <div class="row">
          <div class="col-lg-7 col-md-6 col-sm-12">
            <h2>Kanban</h2>
            <ul class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="#"><i class="zmdi zmdi-home"></i> Home</a>
              </li>
              <li class="breadcrumb-item active">Taskboard</li>
            </ul>
            <button class="btn btn-primary btn-icon mobile_menu" type="button">
              <i class="zmdi zmdi-sort-amount-desc"></i>
            </button>
          </div>
          <div class="col-lg-5 col-md-6 col-sm-12">
            <button class="btn btn-primary btn-icon float-right right_icon_toggle_btn" type="button">
              <i class="zmdi zmdi-arrow-right"></i>
            </button>
            <button class="btn btn-success btn-icon float-right" type="button">
              <i class="zmdi zmdi-plus"></i>
            </button>
          </div>
        </div>
      </div>
      <div class="container-fluid testimonial-group">
        <div class="row flex-nowrap">
          <div class="col-lg-4 col-md-12">
            <div class="card">
              <div class="header">
                <h2><strong>Planned</strong></h2>
                <ul class="header-dropdown">
                  <li class="dropdown">
                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button"
                      aria-haspopup="true" aria-expanded="false">
                      <i class="zmdi zmdi-more"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right slideUp">
                      <li><a href="javascript:void(0);">Add Task</a></li>
                      <li><a href="javascript:void(0);">Delete Category</a></li>
                    </ul>
                  </li>
                </ul>
              </div>
              <div class="body taskboard planned_task">
                <div class="dd" data-plugin="nestable">
                  <ol class="dd-list">
                    <!-- Task List -->
                  </ol>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-12">
            <div class="card">
              <div class="header">
                <h2><strong>Planned</strong></h2>
                <ul class="header-dropdown">
                  <li class="dropdown">
                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button"
                      aria-haspopup="true" aria-expanded="false">
                      <i class="zmdi zmdi-more"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right slideUp">
                      <li><a href="javascript:void(0);">Add Task</a></li>
                      <li><a href="javascript:void(0);">Delete Category</a></li>
                    </ul>
                  </li>
                </ul>
              </div>
              <div class="body taskboard planned_task">
                <div class="dd" data-plugin="nestable">
                  <ol class="dd-list">
                    <!-- Task List -->
                  </ol>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-12">
            <div class="card">
              <div class="header">
                <h2><strong>Planned</strong></h2>
                <ul class="header-dropdown">
                  <li class="dropdown">
                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button"
                      aria-haspopup="true" aria-expanded="false">
                      <i class="zmdi zmdi-more"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right slideUp">
                      <li><a href="javascript:void(0);">Add Task</a></li>
                      <li><a href="javascript:void(0);">Delete Category</a></li>
                    </ul>
                  </li>
                </ul>
              </div>
              <div class="body taskboard planned_task">
                <div class="dd" data-plugin="nestable">
                  <ol class="dd-list">
                    <!-- Task List -->
                  </ol>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-12">
            <div class="card">
              <div class="header">
                <h2><strong>Planned</strong></h2>
                <ul class="header-dropdown">
                  <li class="dropdown">
                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button"
                      aria-haspopup="true" aria-expanded="false">
                      <i class="zmdi zmdi-more"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right slideUp">
                      <li><a href="javascript:void(0);">Add Task</a></li>
                      <li><a href="javascript:void(0);">Delete Category</a></li>
                    </ul>
                  </li>
                </ul>
              </div>
              <div class="body taskboard planned_task">
                <div class="dd" data-plugin="nestable">
                  <ol class="dd-list">
                    <!-- Task List -->
                  </ol>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-12">
            <div class="card">
              <div class="header">
                <h2><strong>Planned</strong></h2>
                <ul class="header-dropdown">
                  <li class="dropdown">
                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button"
                      aria-haspopup="true" aria-expanded="false">
                      <i class="zmdi zmdi-more"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right slideUp">
                      <li><a href="javascript:void(0);">Add Task</a></li>
                      <li><a href="javascript:void(0);">Delete Category</a></li>
                    </ul>
                  </li>
                </ul>
              </div>
              <div class="body taskboard planned_task">
                <div class="dd" data-plugin="nestable">
                  <ol class="dd-list">
                    <!-- Task List -->
                  </ol>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-12">
            <div class="card">
              <div class="header">
                <h2><strong>Planned</strong></h2>
                <ul class="header-dropdown">
                  <li class="dropdown">
                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button"
                      aria-haspopup="true" aria-expanded="false">
                      <i class="zmdi zmdi-more"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right slideUp">
                      <li><a href="javascript:void(0);">Add Task</a></li>
                      <li><a href="javascript:void(0);">Delete Category</a></li>
                    </ul>
                  </li>
                </ul>
              </div>
              <div class="body taskboard planned_task">
                <div class="dd" data-plugin="nestable">
                  <ol class="dd-list">
                    <!-- Task List -->
                  </ol>
                </div>
              </div>
            </div>
          </div>
          <!-- List Category -->
        </div>
      </div>
    </div>
  </section>
  <!-- Jquery Core Js -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script type="text/javascript" src="../assest/js/bundles/libscripts.bundle.js"></script>
  <script type="text/javascript" src="../assest/js/bundles/vendorscripts.bundle.js"></script>
  <!-- Lib Scripts Plugin Js -->
  <script type="text/javascript" src="../assest/js/bundles/mainscripts.bundle.js"></script>

  <script src="../src/main.js"></script>
</body>

</html>